.cred-front-iz{
  width: 550px;
  height: 400px;
  background: url('../img/pase_adelante.jpg') no-repeat;
}

.cred-front-der{
	width: 550px;
	height: 400px;
	background: url('../img/pase_atras.jpg') no-repeat; 
}	



.apellidopaterno{
	font-family: verdana;
	color: #666464;
	margin-left: 180px;
	margin-top:-205px;
	font-weight: bold;
	font-size: 12px;
}

.apellidomaterno{
	font-family: verdana;
	color: #666464;
	margin-left: 180px;
	margin-top:-200px;
	font-weight: bold;
	font-size: 12px;
}



.nombre{
	font-family: verdana;
	color: #666464;
	margin-left: 180px;
	margin-top:28px;
	font-weight: bold;
	font-size: 12px;
}





